MermaidManager/Library/
MermaidManager/Temp/FSTimeGet-60263eb4704a8d841806d236f84aa037
MermaidManager/Temp/PropertyDatabase_1265138678
MermaidManager/Temp/PropertyDatabase_2066312223
MermaidManager/Temp/UnityLockfile
MermaidManager/Temp/workerlic
MermaidManager/Logs/
MermaidManager/Temp/
MermaidManager/UserSettings/
MermaidManager/ProjectSettings/
MermaidManager/obj/Debug/Assembly-CSharp.csproj.AssemblyReference.cache
MermaidManager/Assets/ClientDB.json
MermaidManager/Assets/ClientDB.json.meta
MermaidManager/Assets/ClientData.meta
MermaidManager/Assets/ClientData/채지영~꽃또리.json
MermaidManager/Assets/ClientData/채지영~꽃또리.json.meta
MermaidManager/Assets/ClientData/최정환~화기중대.json
MermaidManager/Assets/ClientData/최정환~화기중대.json.meta
